<?xml version="1.0"?>
<launch>
  
  <!--<node pkg="motor_cpp" type="motor_cpp" name="motor_cpp" launch-prefix="sudo" output="screen">
  </node>-->

  <node pkg="gopigo_controller" type="gopigo_controller.py" name="gopigo_controller" output="screen">
    <param name="rate" value="50" />
	<!-- Kp crit = 0.7 -> Kp =0.35 -->
    <param name="Kp" value="0.42" />
    <param name="Ki" value="0.0084" />
    <param name="Kd" value="0.001" />
    <!-- Max angular vel computed by counting the number of encoder ticks over some time.
      rad/s = # ticks * rad/tick / dt
       -->
    <param name="motor_max_angular_vel" value="16.02212253" />
    <param name="motor_min_angular_vel" value="5.183627878" />
    <param name="motor_cmd_max" value="255" />
    <param name="motor_cmd_min" value="80" />
    <param name="robot_wheel_radius" value="0.0325" />
    <param name="pid_on" value="True" />
    <param name="gopigo_on" value="True" />
  </node>

  <!--<node pkg="gopigo_state_updater" type="gopigo_state_updater.py" name="gopigo_state_updater" output="screen">
    <param name="rate" value="10" />
    <param name="err_tick_incr" value="5" />
    <param name="robot_wheel_radius" value="0.0325" />
    <param name="gopigo_on" value="True" />
  </node>-->

	<include file="$(find video_stream_opencv)/launch/camera.launch"/>

</launch>


